<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Anything Home {% endblock %} </title>
</head>
<body>
    <header>
        <nav>
            <h3 style="text-align: center;">Welcome to Anything site</h3>
        </nav>
    </header>

    {% block content %}
    <section>
        <h3 style="text-align: center;">This is a test site Home page. you can see anything in this anything site</h3>
    </section>
    {% endblock %}

    <footer>
        
    </footer>

</body>
</html>